.grid {
  padding-top: 24px;
  height: 77vh;
  width: 100vw;
  background-color: rgb(83, 83, 83);
  display: grid;
  // border: 4px solid yellow;
  // outline: 4px solid #ffff00;
  grid-template-columns: .5fr 3fr 1fr  3fr .5fr;
  grid-template-rows: .5fr 3fr 1fr  3fr .5fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
  linear-gradient(260deg, rgba(70, 70, 70, 0.52) 4%,
  rgba(26, 26, 26, 0.822) 45%,
  rgb(24, 24, 24) 70%
  ),

  url(./programming.jpg);
}
.item1{
  // background-color: darkgreen
  // border: 4px dashed green;
  margin: 1vh 0 ;
  grid-row: 1 / end;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  // align-items: center;
  padding: 44px;
  justify-content: center;
  // align-content: center;
  &_cont{
    // border: 3px solid deeppink;
    margin: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr max-content ;
  }
  .head{
    // border: 4px dashed green;
    grid-column: 1/4;
    font-size: 66px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    letter-spacing: 5px;
    text-shadow: 4px 3px 6px rgba(6, 6, 6, 0.932);
  }
  .moto{
    grid-column: 1/4;

    font-weight: 100;
    text-transform: uppercase;
    font-family: serif;
    font-size: 16px;
    color:lightgray;
    text-shadow: 4px 3px 6px rgba(6, 6, 6, 0.932);
    padding-left: 1px;
    letter-spacing: 7px;

  }
}
.item4{
  // background-color: rgba(0, 100, 0, 0.315);
  margin: 16vh 0 ;
  grid-row: 1 / end;
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
  gap: 1vh;

  transition: all 1s;
  &:hover{
    transition: all 2s;
    margin: 14vh 0;
    transform: scale(1.01);
    gap: .8vh;
  }
  &_cards{
    border-radius: 11px;
    flex-grow: .4;
    opacity: .8;
    padding: 3vh 1vh;// 12px 0 ;
    width: 100%;
    box-shadow: 0px 0px 16px 3px rgba(61, 26, 26, 0.32);
    transition: all 1s;
    display: flex;
    gap: 5px;
    // border: 3px dashed rgb(0, 145, 36);

    // flex-direction: column;
    align-items:center;
    background-color: white;
// 
    .item4_cards_cont{
      display: flex;
      justify-content: center;
      flex-direction: column;
      transition: all 1s;
    }
    &:hover{
      flex-grow: 4;
      transform: scale(1.01);
      transition: all 1s;
      .item4_cards_cont{
        transform: translateY(-80%);
        transition: all 1s;
        justify-content: flex-start;
        .item4_cards_cont-brief{
          opacity: .0;
          transition: all 1s;
          // border: 3px dashed blue;
        } 
        .item4_cards_cont-content{
          opacity: 1;
          transition: all  ease-in-out 2s ;
        }
      }
    }
    &_cont{
      margin:  0 0 0;
      width: 100%;
      // padding: 4px;
      // border: 4px solid deeppink;
      &-head{
        // font-family: SourceSerifRoman-Regular, Geneva, Tahoma, sans-serif;
        font-weight: 100;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 100%;
      }
      &-brief{
        transition: all 2s .5s;
        font-size: 80%;
        // border: 3px dashed blue;

      }
      &-content{
        height: 0;
        opacity: 0;
        transition: all 1s;
        font-size: 80%;
        // transform: scale(0); 

      }
    }
  }
}
 


.miniicon{
  // border: 4px dashed blue;
  margin-top: 3px;
  max-width: 18px;
  height: 22px;

  }
