
.briefstrip {
      height: 288px;
      // border: 4px dashed palevioletred;
      background-color: lavender;
      display: flex;
      padding: 3% 6%;
      &_box{
        // border-bottom: 4px solid purple;
        border-top: 1.4px solid rgb(119, 119, 119);
       &_title{
         text-align: center;
         color: rgb(77, 77, 77);
         font-size: 34px;
         font-weight: 700;
         margin: 44px 0 12px 0;
       } 
       &_text{
         text-align: center;
         margin-top: 22px;
       }
      }
  }
